.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    background: #dddddd;
    background-color: #bbdec7;
opacity: 1;
background-image: radial-gradient(circle at center center, #f6f6f6, #bbdec7), repeating-radial-gradient(circle at center center, #f6f6f6, #f6f6f6, 10px, transparent 20px, transparent 10px);
background-blend-mode: multiply;
}

.title {
    font-size: 32px;
    font-weight: 800;
}
